<mat-toolbar class="header__toolbar">
  <img
    align="center"
    class="header__img-logo"
    src="/assets/images/widelogo.jpg"
  />
  <div class="header__button-row">
    <button [routerLink]="['/home']" mat-flat-button>Home</button>
    <button [routerLink]="['/volunteers']" mat-flat-button>Volunteers</button>
    <button [routerLink]="['/whatsnew']" mat-flat-button>What's New</button>
    <button [routerLink]="['/records']" mat-flat-button>Records</button>
    <button [routerLink]="['/about']" mat-flat-button>About Us</button>
  </div>
</mat-toolbar>
