<body>
  <div id="c-col"> <br>
      | <a href="#project">About This Project</a> | <a href="#author">About the Author</a> | <a href="#puzzle">About the Puzzle Pieces</a> |
    <br>
    <br>
    <h1 align="Left">
      &nbsp;&nbsp;&nbsp;About This Project</h1>
    <div align="left">
      <br>
      <p>Buchheit History Online is a resource used by researchers of the BUCHHEIT surname. The website was designed around a database that contains information about more than 5000 online
         documents. The database is searchable, which allows researchers to enter a name and the result will be a list of any document that contains that person's name.</p>
      <p>This website project began in early 2004, when a request came in for a particular document. After hours of digging through boxes and searching for the information, the web designer decided
         to come up with a better way to organize all of the paper documents and make them searchable. As a result, a database was developed and the paper documents were scanned and placed online.
         </p>
      <p>Buchheit History Online went live on June 30, 2005. Since that time, <a href="contributors.asp" target="_blank">many Buchheit family members</a> have shared their documents with this site.
         It is rapidly becoming a valuable resource for all of us researching the BUCHHEIT surname.</p>
      <p>If you are interested in volunteering, by sharing your documents or helping with other related projects, please click <a href="volunteer.asp">here</a> for more information.</p>
      <br>
      <br>
    </div>
    <h1 align="Left">
      &nbsp;&nbsp;&nbsp;About The Author of this Site</h1><!--</a> -->
    <div align="left"> <br>
      <p>Julie Reese Bookser has been married since 1996 and is a stay-at-home-mom to three awesome kids - identical twin sons and a daughter. She earned a Bachelor's Degree in Information Science
         from the <a href="http://www2.sis.pitt.edu/">University of Pittsburgh</a> and spent 6 years working at <a href="http://www.intel.com">Intel Corporation</a> in Chandler, AZ.</p>
      <p>After moving from Pennsylvania to Arizona in 1995, Julie decided to continue her father's genealogy work. Her love of genealogy is what brought Julie to develop this website. It is
         intended to be a resource for Buchheit Family Members to further their own research. If you have any questions or would like to volunteer your time and/or documents, please contact Julie
         by email at <a href="mailto:julie@buchheithistory.com">julie@buchheithistory.com</a>.</p>
      <br>
      <br>
    </div>
    <h1 align="Left">
      &nbsp;&nbsp;&nbsp;About The People in the Puzzle Pieces</h1><!--</a> -->
    <div align="left"> <br>
      <p>The people in the puzzle pieces located in the header bar are Jacob Buchheit and his wife, Mary Oestreicher. They settled in Beaver County, Pennylvania after arriving in the United States
         around 1824. Their daughter, Mary, is in the other piece. Mary married Charles Frank and they settled in Mishawaka, Indiana where he owned many businesses. He was later elected Mayor of
         the City of Mishawaka.</p>
    </div>
  </div>
<div id="rh-col">
</div>
