mat-drawer-container{
  height: 100%;
}
.sidenav__link-row{
  display: grid;
}
h3{
  text-align: center;
}
.sideNav__content{
  height: 70vh;
}
.sidenav__right{
  padding-left: 10px;
}
.button__container{
  padding-right: 20px;
}
