<html>
<head>
  <style>
    h1 {text-align: center;}
    a {text-align: center;}
    p {text-indent: 30px; margin-top: 5%;}
  </style>
</head>
<body>
  <div>
    <h1>Welcome to Our Online Community!</h1>
    <a class="center">
      <img src="../../assets/images/crest-white-bkg.jpg" alt="Buchheit Family Crest" width="125"
           height="122" hspace=3 border="0" />
    </a>
  </div>

  <div>
    <p class="pcenter">
      The Buchheit family has been traced back to 17th century Germany when Johann and Christina Buchheit were raising their seven children.
      The Buchheit family name is found in the Pirmasens area of Germany, located in the Rheinland-Pfalz.
      This area is east of Saarbrucken, north of Alsace, France and west of Baden, Germany.*
      The earliest Buchheit immigrants to the United States came as early as 1824, when Johannes Peter Buchheit came to the United States with four of his children and settled in Pennsylvania.
    </p>
    <p class="pcenter">
      Since that time, the Buchheit family has spread to all 50 of the United States, with large branches of the family in Clearfield Pittsburgh, PA; Buffalo, NY; Perryville, MO; Louisville, KY; Baltimore, MD; East Liverpool, OH; Charleston, SC, among other places.
      As researchers of the Buchheit surname, we have taken on a challenging and exciting project since our Buchheits seem to have lead exciting lives.
      Many of our ancestors were deeply religious - including the Fathers, Sisters, Deacons and Pastors who helped hold their communities together.
      They had various occupations, including farmers, lawyers, schoolteachers, florists and laborers. There were Buchheits who served in every war since the Civil War.
      Many even changed the original spelling of the name. Some variations of the spelling include, Bucheit, Buchite, Buckheit, Buhite, Buheit, Bohart and Buhi.
      The purpose of this web page is to provide a resource for those of us who are researching this huge family. Over the years, hundreds of documents have been collected that hold information about our ancestors.
      Instead of those documents sitting in a corner, it is much wiser to put them in a place where they can be of use to researchers of the Buchheit surname. From this web page, researchers will be able to search for and save documents related to the Buchheit family.
    </p>
    <p class="pcenter">
      If you have documents that are related to the Buchheit family and you would be interested in sharing them on this web page, please send an email to Julie Reese Bookser at
      <a href="mailto:julie@buchheithistory.com?subject=Buchheit History Documents" class="sidenavLnk">julie@buchheithistory.com</a>.
    </p>
  </div>

  <div>
    <a class="pcenter">
      <mat-icon>folder_shared</mat-icon>
      Search for documents containing references to your Ancestors
    </a>
    <a class="pcenter">
    <mat-icon>alternate_email</mat-icon>Mailing List
    </a>
  </div>

  <div>
    <p class="pcenter">
      *Information was found in <i>
        Family History of the Descendants
        of Heinrich Buchheit and Maria Francisca Moll
      </i> by the Buchheit Book Committee,
      Perryville, MO.
    </p>
  </div>
</body>
</html>







