.divContainer{
    display:flex;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.pcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}
