<body>
<!-- LEFT COLUMN -->
<div id="lh-col">
	<span style="margin:10px 10px 10px 10px;"><br>
	<!--#include file="include\left.inc"-->
	</span>
</div>
<!-- END LEFT COLUMN -->

<!-- CENTER COLUMN -->
<div id="c-block">

  <div id="c-col"> <br>
    <h1 align="Left"><!--ENTER PAGE TITLE HERE-->&nbsp;&nbsp;&nbsp;Would you like to volunteer?</h1>
    <div align="left">
      <!-- ENTER BODY HERE -->
      <p><strong>One way for this website to remain a valuable resource is to continue adding to it!</strong></p>
      <p>We are always looking for a few good volunteers . . . If you would be interested in contributing to this website, by sharing BUCHHEIT related documents you may have
      gathered, please feel free to contact Julie Reese Bookser.</p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Julie Reese Bookser<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:julie@buchheithistory.com?subject=Buchheit History Volunteer">julie@buchheithistory.com</a>
      <br><br><br></div>
      <h1 align="Left"> <!--ENTER PAGE TITLE HERE-->&nbsp;&nbsp;&nbsp;How Can YOU Help?</h1>
      <p>
      <UL>
<li>There are four categories in the left hand list of documents requesting help from researchers and volunteers. Three are <b>News - HELP?</b>, <b>Obituary - HELP?</b> and <b>Pictures - HELP?</b>. If you are familiar with the documents found in these categories and can help place them into a branch of the BUCHHEIT family, please send an email to the <a href="mailto:julie@buchheithistory.com?subject=Buchheit History Volunteer" class="sidenavLnk">Webmaster</a> so the information can be added to the database. </li>
<br />
<li>The fourth section where your help is needed is the <b>Census-HELP?</b> category. If you are familiar with the families in any of these census records and can help place them into a branch of the BUCHHEIT family, please send an email to the <a href="mailto:julie@buchheithistory.com?subject=Buchheit History Volunteer" class="sidenavLnk">Webmaster</a> so the information can be added to the database.  Census records are a great way to help connect the branches of the Buchheit tree, so identifying the members of the census records is very important.</li>
<br />
<li>On the right hand column, there are three links that are in need of help from researchers and volunteers. Are you familiar with a cemetery, library or other resource that would be able to provide a BUCHHEIT researcher with information about their branch of the family tree? If you do, please forward that information to the <a href="mailto:julie@buchheithistory.com?subject=Buchheit History Volunteer" class="sidenavLnk">Webmaster</a> so it can be added to this website.</li>
<br />
<li>We are also looking for a volunteer who will type the contents of scanned newspaper obituaries and save them in a .txt format. If you are interested in volunteering for this task, please contact the <a href="mailto:julie@buchheithistory.com?subject=Buchheit History Volunteer" class="sidenavLnk">Webmaster</a>. Thanks!</li>
<br />
<li>Would anyone be interested in helping us find the contact information and/or websites for some of the cemeteries listed on the <a href="cemetery.asp">Cemetery Resource</a> page? If you are interested in volunteering for this task, please contact the <a href="mailto:julie@buchheithistory.com?subject=Buchheit History Volunteer" class="sidenavLnk">Webmaster</a>. Thanks!</li>
<br />
<li>Would anyone be interested in helping us find the information and/or websites for some of the libraries listed on the <a href="library.asp">Library Resource</a> page? Do you know of any other libraries that should be added to this page? If you are interested in volunteering for this task, please contact the <a href="mailto:julie@buchheithistory.com?subject=Buchheit History Volunteer" class="sidenavLnk">Webmaster</a>. Thanks!</li>
<br />
<li>Would anyone be interested in helping us find the information and/or websites for resources to be listed on the <a href="resource.asp">Resources</a> page? If you are interested in volunteering for this task, please contact the <a href="mailto:julie@buchheithistory.com?subject=Buchheit History Volunteer" class="sidenavLnk">Webmaster</a>. Thanks!</li>
<br />
<li>Does anyone know of a personal website that contains information about the Buchheit family that can be listed on the <a href="webs.asp">Web Resources</a> page? If you are interested in volunteering for this task, please contact the <a href="mailto:julie@buchheithistory.com?subject=Buchheit History Volunteer" class="sidenavLnk">Webmaster</a>. Thanks!</li>
</UL>
      <br />
      <p>Click <a href="contributors.asp" target="_blank">here</a> for a list of people who have already contributed to this project.</p>
<!--      <p> <hr></p>
      <p>If you would be interested in joining the Buchheit-Roots Mailing List, please feel free to sign up by entering your email address below.</p>
 -->      <!--#include file="include\mailinglist.inc"-->
	  <!-- STOP BODY-->
    </div>
  </div>
<!-- END CENTER COLUMN -->
<!-- END C-BLOCK -->

<!-- RIGHT COLUMN -->
<div id="rh-col">
	<!--#include file="include\right.inc"-->
</div>
<!-- END RIGHT COLUMN -->

<!-- FOOTER -->
	<!--#include file="include\footer.inc"-->
<!-- END FOOTER -->
</body>

